* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
h1 {
    margin: 0; /*Ahora se podría quitar y no pasaría nada pero antes estaba aquí para que el "heading" estuviese bien centrado.*/
} 
a {
    color: rgb(218, 24, 24); /*falta darle más funcionalidades a los links*/
    font-style: normal;
}
.logo-heading {
    
    background-color: rgb(255, 255, 255);
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/bandera4.jpg);
    background-size: cover;
}

    .heading {
        color: rgb(218, 24, 24);
        margin: 0 auto;
        padding: 0 50px;
        font-size: 60px;
        height: fit-content;
        display: flex;
        align-items: center;
        flex-direction:column;        
    }
    .menu {
        color: rgb(187, 29, 29);
        border: 5px outset rgb(218, 24, 24);
        background-color: black;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        width: 1288px;
        
    }
        
        .about {
            color: black;
        }
      
