* {
    box-sizing: border-box;
}

body {
    margin: 0 75px;
    background-color: darkgreen;
}

.header-container {
    display:flex;
    background-color: rgb(71, 184, 67);
    height: 200px;
}
.header {
    font-size: 2rem;
    position: relative;
    left: 2%;
    bottom: 5%;
    color:rgb(15, 78, 10)
}
        .menu {
            display: flex;
            justify-content: space-between;
            position: relative;
            bottom: 10%;
            width: 75%;
            background-color: rgb(111, 206, 23);
            border: 3px solid rgb(15, 78, 10);
        }
            a {
                margin: 10px;
                color: rgb(15, 78, 10);
            }
                a:link {
                    color:rgb(15, 78, 10);
                }
                a:hover {
                    background-color: rgb(71, 184, 67);
                }
                a:active {
                    color: rgb(255, 255, 255);
                }
                a:visited {
                    color: rgb(236, 126, 0);
                }
      
/* @media only screen and (max-width: 400px) {
    header {
        font-size: 8px;
    }
}
@media only screen and (min-width: 401px) and (max-width:1090px) {
    header {
        font-size: 8px;
    }
}
@media only screen and (min-width: 1091px) {

}*/